@import "tailwindcss";
.input-field {
    @apply w-full bg-white text-gray-900 p-4 text-lg border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500;
  }
  .thm-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    outline: none !important;
    background-color: var(--tp-theme-2);
    color: var(--tp-common-white);
    font-size: 16px;
    font-weight: 800;
    padding: 17px 50px;
    overflow: hidden;
    transition: all 0.5s linear;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 1s ease-in-out forwards;
}
