@import "tailwindcss";
.input-field {
    @apply w-full bg-white text-gray-900 p-4 text-lg border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500;
  }
  @tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease-out forwards;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 1s ease-in-out forwards;
}
